{% extends "timeclock_screen.html" %}

{% block title %}Change Password{% endblock %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'timeclock/css/admin-dashboard.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}
<div class="change-password-form-outter">
    <div class="change-password-form">
        <h2>Change Your Password</h2>
		<br>
        <form id="forcePasswordChangeForm" method="post" action="{% url 'force_password_change' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="password">New Password:</label>
                <input type="password" name="password" id="password" required>
				<br>
                <small class="form-text text-muted">Ensure your password meets the following requirements:</small>
                <!-- Password Requirements -->
                <ul id="password-requirements">
                    <li id="min-length" class="invalid">At least 8 characters</li>
                    <li id="has-number" class="invalid">Contains a number</li>
                    <li id="has-uppercase" class="invalid">Contains an uppercase letter</li>
                    <li id="has-lowercase" class="invalid">Contains a lowercase letter</li>
                    <li id="has-special" class="invalid">Contains a special character</li>
                </ul>
            </div>
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>
</div>
{% endblock %}

{% block modal %}
{% endblock %}

{% block footer_scripts %}
<script>
    $(document).ready(function() {
        function validatePassword(password) {
            const minLength = password.length >= 8;
            const hasNumber = /\d/.test(password);
            const hasUppercase = /[A-Z]/.test(password);
            const hasLowercase = /[a-z]/.test(password);
            const hasSpecial = /[^A-Za-z0-9]/.test(password);

            updatePasswordRequirement('#min-length', minLength);
            updatePasswordRequirement('#has-number', hasNumber);
            updatePasswordRequirement('#has-uppercase', hasUppercase);
            updatePasswordRequirement('#has-lowercase', hasLowercase);
            updatePasswordRequirement('#has-special', hasSpecial);

            return minLength && hasNumber && hasUppercase && hasLowercase && hasSpecial;
        }

        function updatePasswordRequirement(selector, isValid) {
            $(selector).toggleClass('valid', isValid);
            $(selector).toggleClass('invalid', !isValid);
        }

        $('#password').on('input', function() {
            const password = $(this).val();
            validatePassword(password);
        });
    });
</script>
{% endblock %}

