body {
    background: url("../images/employee_backgrounds/employee-info-background.jpg") center/cover no-repeat;
}

.background-preview {
    width: 100px;
    cursor: pointer;
	height: 50px;
}

.background-preview:hover {
    opacity: 0.7;
}

/* Modal image preview */
#imagePreviewModal .modal-body {
    padding: 0;
    text-align: center;
}

#image-preview {
    max-width: 100%;
    height: auto;
}

.centered-buttons {
    text-align: center;
    margin-top: 20px;
}

.centered-buttons button {
    display: inline-block;
}
